p
{
    font: 300 12px / 20px 'Source Sans Pro';

    color: #999;
}
h1
{
    font: 700 72px OpenSans;

    color: #f4f5f9;
}
h3
{
    font: 400 24px 'Source Sans Pro';

    color: #f4f5f9;
}
h4 {
  font:700 36px 'Source Sans Pro';
  color:#6a6a6a;
  text-transform: uppercase;
}
h5 {
  font:600 18px OpenSans;
  color:#6a6a6a;
  text-transform: uppercase;
}
h6 {
  color:#ED2834;
  font:600 24px / 24px 'Source Sans Pro';
}

hr {
  max-width: 45px;
}

  .marginright {
    margin-right: 38px;
  }
  .padding54 {
    padding-top: 54px;
  }
  .padding20 {
    padding-top: 20px;
  }
  .marg67 {
    margin-bottom: 67px;
  }
.btn
{
    line-height: 0;

    display: inline-block;
    min-width: 325px;
    height: 0;
    padding: 30px 80px;

    -webkit-transition: all .5s ease;
       -moz-transition: all .5s ease;
         -o-transition: all .5s ease;
            transition: all .5s ease;
    letter-spacing: 2px;

    color: #fff;
    border: 1px solid;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 5px;
    background-color: transparent;
    &:hover,
    &:focus
    {
        text-decoration: none;

        border-color: transparent;
        outline: none;
        background-color: #e74c3c;
        border:none;
        margin-top: 56px;;

    }
}

header
{
    padding: 256px 0;

    background: url('/images/headerbg.png') center no-repeat;
    background-size: cover;

    h1
    {
        margin: 0;
        padding: 45px 0;
    }
    img
    {
        padding-bottom: 45px;
    }
    button {
      margin-top:68px;
    }
}
.who_we_are {
  padding:97px 0 112px;
  border-bottom: 1px solid rgba(153, 153, 153, 0.25);
  .fa {
    font-size: 30px;
    border:1px solid #F00;
    min-width: 52px;
    min-height: 52px;
    line-height: 52px;
    padding: 0;
  }
  hr {
    margin-top: 10px;
  }
}

.about_us {
  padding:146px 0;
  img {
    float:right;
    margin-right: 77px;
  }
  h4 {
    border-left: 5px solid #e74c3c;
    padding-left: 25px;
    margin:0px;
  }
  p {

  }
  .btn {
    background-color:#e74c3c;
    border:none;
    margin-top: 55px;
  }
}

// ***** Contact Section *****
.contact {
  background-color: #f4f5f9;
  padding:150px 0;

  p {
    margin:0px;
  }
  h6 {
    padding-top: 60px;
  }
  img {
    padding-top:20px;
  }
  input,textarea {
    border-bottom: 1px solid rgba(153, 153, 153, 0.25);
  }
  .whbg {
    background-color: #fff;
    min-height: 468px;
  }
  .padding65 {
    padding-left: 65px;
  }
  .padd1 {
    padding:1px;
  }
  .btn {
    background-color:#e74c3c;
    border:none;
    margin-top: 30px;
  }
}


// ***** Promo Section *****
.promo {
  background: url('/images/promobg.jpg');
  min-height: 450px;
  padding-top: 116px;

  h4 {
    color:#fff;
    text-transform: capitalize;
  }
  p {
    color:#fff;
    font-weight: lighter;
  }
  span {
    font-weight:bolder;
  }
  .btn {
    background-color:#e74c3c;
    border:none;
    margin-top: 55px;
  }
}

// **** Footer ****

footer {
background-color: #202020;

.fa {
  color:#989898;
  padding-left:20px;
}
}
