.panel
{
  text-align: center;
  &.panel__image
  {
    display: block;
    margin: auto;
  }
}
a
{
  &:hover,
  &:visited
  {
  }
}
.heading
{
  &__border
  {
    &--left
    {
      border: 1px solid #0ff;
    }
    &--top
    {
      border: 1px solid #000;
    }
  }
}
